.main{
   
    margin: 8px;
    
   background: rgba(173, 164, 164, 0.2);
   flex-wrap: wrap;
}
.image{
    background: rgba(80, 66, 156, 0.788);
    padding: 12px;
    border-radius: 20px;
    display: flex;
    margin: 1%;
}
.image .title{
    margin-left: 1%;
}









